/*-------------------------------------
#. My Account
---------------------------------------*/

/*-------- Login/Registration --------*/
.rtcl {
  #rtcl-user-login-wrapper {
    background: transparent;
    padding: 0;

    a {
      color: var(--rtcl-primary-color);

      &:hover {
        color: var(--rtcl-secondary-color);
      }
    }
  }

  #rtcl-lost-password-form,
  .rtcl-registration-form-wrap,
  .rtcl-login-form-wrap {

    .form-group {
      margin-bottom: 15px;

      .control-label {
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 6px;
        text-transform: capitalize;
      }

      .btn {
        color: $white !important;
        padding: 10px 16px;
        border-radius: $borderRadius5;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.3;
        border: 1px solid var(--rtcl-primary-color);
        background-color: var(--rtcl-primary-color);
        display: inline-block;
        transition: all 0.3s;

        &:hover {
          background-color: var(--rtcl-secondary-color);
          border: 1px solid var(--rtcl-secondary-color);
        }
      }
    }
  }

}

.rtcl-page-registration,
.rtcl-page-login {
  .site-content-block {
    .main-content {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      box-shadow: none;

      .rtcl-registration-form-wrap,
      .rtcl-login-form-wrap {
        background-color: #ffffff;
        margin: 0 auto;
        border-radius: $borderRadius8;
        padding: 25px;
        box-shadow: 0 0 20px #f0f0f0;

        > h2 {
          font-size: 24px;
        }
      }
    }
  }
}

.rtcl-page-login {
  #rtcl-lost-password-form {
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: $borderRadius8;
    padding: 25px;
    box-shadow: 0 0 20px #f0f0f0;
  }
}

/*-------- Dashboard --------*/
.logged-in {
  &.rtcl-account {
    .main-content {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
}

.rtcl-account {
  .site-content {
    background-color: transparent;
  }

  .rtcl-MyAccount-wrap {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .rtcl-MyAccount-navigation {
      background: transparent;
      max-width: 240px;
      flex: 240px 0 0;

      @include small-screen() {
        max-width: 100%;
        flex: 100% 0 0;
      }

      ul {
        border-radius: $borderRadius4;

        li {
          display: block;
          border: none;

          a {
            background-color: var(--rtcl-primary-color);
            color: $white;
            display: block;
            border-bottom: 1px solid rgba($black, 0.1);
            padding: 15px 20px;

            &:hover {
              background-color: var(--rtcl-secondary-color);
            }
          }

          &.is-active {
            a {
              background-color: $white;
              color: var(--rtcl-primary-color);
            }
          }
        }
      }
    }

    .rtcl-MyAccount-content {
      background-color: $white;
      flex: 1;
      border-radius: $borderRadius8;

      a {
        color: var(--rtcl-primary-color);

        &:hover {
          color: var(--rtcl-secondary-color);
        }
      }

      .rtcl-user-info {
        display: flex;

        .rtcl-user-avatar {
          max-width: 100px;
          margin-right: 15px;
        }
      }

      .rtcl-EditAccountForm {
        .form-group {
          margin-bottom: 20px;

          label {
            color: #111111;
          }

          .form-control {
            color: $bodyColor;
          }

          .form-group {
            label {
              margin-bottom: 6px;
              font-weight: 400;
            }
          }

          .form-control-static {
            margin-bottom: 0;
          }

          .col-sm-offset-3 {
            margin-left: 25%;

            @include small-screen() {
              margin-left: 0;
            }
          }

          .btn {
            color: $white !important;
            padding: 10px 16px;
            border-radius: $borderRadius5;
            text-decoration: none;
            font-size: 16px;
            line-height: 1.3;
            border: 1px solid var(--rtcl-primary-color);
            background-color: var(--rtcl-primary-color);
            display: inline-block;
            transition: all 0.3s;

            &:hover {
              background-color: var(--rtcl-secondary-color);
              border: 1px solid var(--rtcl-secondary-color);
            }
          }
        }

        .rtcl-social-wrap-row {
          .form-control:last-child {
            margin-bottom: 0;
          }
        }
      }

      .rtcl-listings {
        .action-wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 20px !important;

          .btn {
            line-height: 1.2;
            padding: 10px 16px;
            margin-bottom: 0 !important;
            border-radius: $borderRadius4;
            box-shadow: none;
            outline: none;
          }

          .float-sm-left {
            .form-control {
              display: inline-block;
              width: auto;
              margin-bottom: 0 !important;
              margin-right: 10px;
            }

            .btn {
              color: $black;
              border-color: var(--rtcl-primary-color);

              &:hover {
                background-color: var(--rtcl-primary-color);
                color: $white;
              }
            }
          }

          .float-sm-right {
            margin-left: auto;

            @include medium-screen() {
              margin: 20px 0 0;
            }

            .btn {
              background-color: var(--rtcl-primary-color);
              border: 1px solid var(--rtcl-primary-color);
              color: $white;

              &:hover {
                background-color: transparent;
                color: var(--rtcl-primary-color);
              }
            }
          }
        }

        .rtcl-list-view {
          .rtcl-listing-item {
            border-color: $borderColor;

            .listing-thumb {
              max-width: 25%;

              @include small-screen() {
                max-width: 100%;
              }
            }

            .listing-details {
              padding: 0;
            }

            .item-content {
              .listing-title {
                a {
                  color: $black;

                  &:hover {
                    color: var(--rtcl-primary-color);
                  }
                }
              }
            }

            .rtcl-actions {
              .btn {
                color: $white;
                border: none;
                line-height: 1;
                padding: 9px 13px;
                border-radius: 3px;
                background-color: var(--rtcl-primary-color);
                margin-right: 4px;

                @include medium-screen() {
                  margin-bottom: 8px;
                }

                &.rtcl-edit-listing {
                  background-color: #ffc107;
                }

                &.rtcl-delete-listing {
                  background-color: #ef6f68;
                }

                &.mark-as-sold {
                  background-color: #90ccd5;
                }

                &:hover {
                  background-color: var(--rtcl-secondary-color);
                }
              }
            }
          }
        }
      }

      #rtcl-store-content-wrap {
        .rtcl-store-settings {
          .form-group {
            margin-bottom: 20px;

            .form-control {
              color: $bodyColor;
            }

            textarea {
              height: auto;
            }

            label {
              color: #111111;
              margin-bottom: 6px;
            }

            .col-sm-offset-3 {
              margin-left: 25%;

              @include small-screen() {
                margin-left: 0;
              }
            }
          }

          .btn {
            @extend .rtin-button;
          }

          .oh-time-hour {
            .form-control {
              height: 40px;
            }
          }
        }
      }

      .pagination {
        margin-top: 40px;

        li {
          margin-right: 10px;
          border: none;
          border-radius: 0;

          .page-link {
            width: 45px;
            height: 45px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #e7e7e7;
            border-radius: $borderRadius4;
            text-decoration: none;
            color: var(--rtcl-primary-color);
            background-color: $white;
            transition: all 0.3s;

            &:hover {
              color: $white;
              border: 1px solid transparent;
              background-color: var(--rtcl-primary-color);
            }

          }

          &.active {
            .page-link {
              color: $white;
              border: 1px solid transparent;
              background-color: var(--rtcl-primary-color);
            }
          }
        }
      }
    }
  }
}