/*-------------------------------------
#. My Account
---------------------------------------*/

.rtcl-account {
  .rtcl-MyAccount-wrap {
    .rtcl-MyAccount-content {
      #rtcl-store-content-wrap,
      .rtcl-EditAccountForm {
        .rtcl-field-col {
          .btn {
            box-shadow: none;
            outline: none;
            border: none;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
  }
}