.rtcl-form-page {
  .content-area {
    background-color: transparent;
  }

  .main-content {
    .rtcl-post-form-wrap,
    .rtcl-listing-info-selecting {
      background-color: transparent;
      padding: 0;
      box-shadow: none;

      a:hover {
        color: var(--rtcl-secondary-color);
      }

      .rtcl-post-section-title {
        h3 {
          font-weight: 700;
          color: $black;

          .rtcl-icon {
            color: var(--rtcl-primary-color);
          }

          &:before {
            background-color: $borderColor;
          }
        }
      }

      .form-group {
        margin-bottom: 20px;

        label {
          color: $black;
          display: block;
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 6px;
          text-transform: capitalize;
        }
      }

      .rtcl-post-section {
        margin-bottom: 30px;
      }

      .rtcl-submit-btn {
        color: $white !important;
        padding: 10px 16px;
        border-radius: $borderRadius5;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.3;
        border: 1px solid var(--rtcl-primary-color);
        background-color: var(--rtcl-primary-color);
        display: inline-block;
        transition: all 0.3s;

        &:hover {
          background-color: var(--rtcl-secondary-color);
          border: 1px solid var(--rtcl-secondary-color);
        }
      }
    }
  }
}

/*--------- Form builder compatibility ---------*/

#rtcl-form-builder-container {
  background: transparent;
  padding: 0;
  box-shadow: none;

  .rtcl-form-list {
    padding-top: 0;
  }

  .rtcl-fb-sections {

    .rtcl-fb-section {

      &:first-child {
        .section-header {
          padding-top: 0;
        }
      }

      .section-header {
        margin-bottom: 25px;
      }
    }
  }
}