.rtcl {
  .rtcl-list-view {
    .rtcl-listing-item {
      gap: 20px;
      padding: 15px 20px 15px 15px;
      border-radius: $borderRadius8;
      margin-bottom: 20px;

      @media screen and (min-width: 992px) {
        align-items: center;
      }

      .listing-thumb {

        .listing-thumb-inner {
          .rtcl-thumbnail {
            border-radius: $borderRadius8;
          }
        }

        @media screen and (min-width: 768px) {
          flex: 0 0 33%;
          max-width: 33%;
        }
      }

      .item-content {
        padding: 0;

        .listing-action-price {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: space-between;
          border-top: 1px solid #e5e5e5;
          padding-top: 10px;
          margin-top: 8px;

          @include small-screen() {
            flex-wrap: wrap;
          }

          .rtcl-price-wrap {
            margin-top: 0;

            @include small-screen() {
              margin-left: initial;
            }

            .rtcl-price {
              font-size: 22px;
              color: var(--rtcl-primary-color);
            }
          }

          .listing-meta-action {
            display: flex;
            gap: 6px;
            flex-wrap: wrap;

            .rtcl-btn {
              background-color: transparent !important;
              padding: 0;
              margin: 0;

              a, i {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin-right: 0;
                background-color: var(--rtcl-lite-primary-color);
                color: var(--rtcl-primary-color);

                .rtcl-icon:before {
                  margin: 0;
                }

                .rtcl-icon {
                  color: inherit;
                }

                &:hover {
                  background-color: var(--rtcl-primary-color);
                  color: $white;
                }
              }
            }

            .rtcl-require-login,
            .rtcl-favourites {
              .favourite-label {
                display: none;
              }
            }

            margin: 0;
          }
        }

        .rtcl-listing-meta-data {
          li {
            margin-right: 15px;
          }
        }
      }

      &.as-top {
        .item-content {
          .listing-action-price {
            border-color: #d3d6d7;
          }
        }
      }

    }
  }
}