.banner-search {
  padding: 50px 0;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 15% 80%;

  .cl-classified-listing-search {
    .rtcl-widget-search-form {
      display: flex;
      display: -ms-flexbox;
      align-items: flex-end;
      gap: 20px;

      @include medium-screen() {
        flex-wrap: wrap;
      }

      & > div {
        flex: 1 1 0;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0;
        margin: 0;

        @include medium-screen() {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 47%;
          flex: 0 0 47%;
          max-width: 47%;
        }

        @include extra-small-screen() {
          flex-basis: 100%;
          max-width: 100%;
        }
      }

      .rtin-btn-holder {
        max-width: 135px
      }

      .rtin-input-item {

        label {
          color: $bodyColor;
          font-weight: $semiBold;
          margin-bottom: 10px;
        }

        .rtcl-search-input-button {

          .rtcl-icon-spinner {
            position: absolute;
            top: 15px;
            right: 10px;
          }

          &.rtcl-search-input-type {
            .cl-classified-listing-search-dropdown {
              .dropdown-toggle {
                background-color: $white;
                color: $bodyColor;
                border-radius: $borderRadius5;
                box-shadow: 0 2px 8px #e4e4e4;
                border: none;
                padding: 14px 20px;
                width: 100%;
                text-align: left;

                &:after {
                  content: none;
                }
              }

              .dropdown-menu {
                width: 100%;
                border-color: $borderColor;

                .dropdown-item {
                  color: $bodyColor;

                  &:hover,
                  &:active,
                  &:focus {
                    background: var(--rtcl-primary-color);
                    color: $white;
                  }
                }
              }
            }
          }

          select,
          input {
            background-color: $white;
            padding: 15px 20px;
            border-radius: $borderRadius5;
            box-shadow: 0 2px 8px #e4e4e4;
            width: 100%;
            height: auto;
            outline: none;
            border: none;
            margin: 0;
            line-height: 24px;
          }

          .cl-input-icon {
            margin-right: 8px;
          }
        }
      }

      .rtin-search-btn {
        background-color: var(--rtcl-primary-color);
        color: $white;
        border: 0;
        padding: 15px 28px;
        border-radius: $borderRadius5;
        font-weight: $semiBold;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--rtcl-secondary-color);
        }

        i {
          margin-left: 8px;
        }
      }

      &.rtin-style-standard {
        .rtcl-location-search,
        .rtcl-category-search {
          cursor: pointer;
        }
      }

      &.rtin-style-popup {
        .rtcl-search-input-location,
        .rtcl-search-input-category {
          background-color: $white;
          padding: 15px 20px;
          border-radius: $borderRadius5;
          box-shadow: 0 2px 8px #e4e4e4;
        }
      }
    }
  }

  & + .breadcrumbs-area {
    margin-top: 20px;
  }
}

.rtcl-ajax-filter-item .rtcl-filter-content {
  position: relative;
}

.cl-classified-listing-search {
  .rtcl-ai-search-field {
    input {
      padding-left: 45px !important;
    }

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      mask: url("data:image/svg+xml,%3Csvg%20width='17'%20height='21'%20viewBox='0%200%2017%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M6.37822%204.38293L6.95178%205.97575C7.5889%207.74356%208.98101%209.13566%2010.7488%209.77279L12.3416%2010.3463C12.4852%2010.3985%2012.4852%2010.6021%2012.3416%2010.6535L10.7488%2011.227C8.98101%2011.8642%207.5889%2013.2563%206.95178%2015.0241L6.37822%2016.6169C6.32608%2016.7605%206.12252%2016.7605%206.07109%2016.6169L5.49753%2015.0241C4.86041%2013.2563%203.4683%2011.8642%201.70049%2011.227L0.107676%2010.6535C-0.0358919%2010.6013-0.0358919%2010.3978%200.107676%2010.3463L1.70049%209.77279C3.4683%209.13566%204.86041%207.74356%205.49753%205.97575L6.07109%204.38293C6.12252%204.23865%206.32608%204.23865%206.37822%204.38293Z'%20fill='currentColor'/%3E%3Cpath%20d='M13.548%200.555177L13.8387%201.36158C14.1616%202.25656%2014.8666%202.96154%2015.7615%203.28439L16.568%203.5751C16.6408%203.60152%2016.6408%203.70438%2016.568%203.73081L15.7615%204.02151C14.8666%204.34436%2014.1616%205.04934%2013.8387%205.94432L13.548%206.75073C13.5216%206.82358%2013.4187%206.82358%2013.3923%206.75073L13.1016%205.94432C12.7788%205.04934%2012.0738%204.34436%2011.1788%204.02151L10.3724%203.73081C10.2995%203.70438%2010.2995%203.60152%2010.3724%203.5751L11.1788%203.28439C12.0738%202.96154%2012.7788%202.25656%2013.1016%201.36158L13.3923%200.555177C13.4187%200.481608%2013.5223%200.481608%2013.548%200.555177Z'%20fill='currentColor'/%3E%3Cpath%20d='M13.548%2014.2498L13.8387%2015.0562C14.1616%2015.9512%2014.8666%2016.6562%2015.7615%2016.979L16.568%2017.2697C16.6408%2017.2962%2016.6408%2017.399%2016.568%2017.4254L15.7615%2017.7161C14.8666%2018.039%2014.1616%2018.744%2013.8387%2019.639L13.548%2020.4454C13.5216%2020.5182%2013.4187%2020.5182%2013.3923%2020.4454L13.1016%2019.639C12.7788%2018.744%2012.0738%2018.039%2011.1788%2017.7161L10.3724%2017.4254C10.2995%2017.399%2010.2995%2017.2962%2010.3724%2017.2697L11.1788%2016.979C12.0738%2016.6562%2012.7788%2015.9512%2013.1016%2015.0562L13.3923%2014.2498C13.4187%2014.177%2013.5223%2014.177%2013.548%2014.2498Z'%20fill='currentColor'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      mask-position: center;
      transform: translateY(-50%);
      top: 50%;
      left: 20px;
      background: linear-gradient(90deg, #3232ff 0%, #f85c70 50%, #3232ff 100%);
    }
  }
}

.rtcl-ai-search-top-picks-box {
  h3:after {
    content: none;
  }
}